<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post" class="mt-4">
        <div class="container">
            <label class="mt-3" for="name">Your Name</label>
            <input class="form-control" type="text" name="name" id="name">
            <label class="mt-3" for="content">Your Review:</label>
            <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
            <div class="form-check mt-3">
            <label class="form-check-label" for="purchasecheck">
                    Purchased car from dealer before
            </label>
            <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
            </div>
            <label class="mt-3" for="car">Selected Car</label>
            <select name="car" id="car" class="custom-select" required>
                {% for car in cars %}
                    <option selected value={{car.id}}>{{car.name}}</option>
                {% endfor %}
            </select>
            <!-- <label class="mt-3" for="purchasedate">Purchase date</label>
            <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate"> -->
            {% csrf_token %}
            <button class="btn btn-primary mt-4" type="submit">Submit review</button>
       <div class="container">
    </form>
    </body>

    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>
</html>